<div class="form-group">
    <label for="password"><%= translations.password %></label>
    <input type="password" name="password" id="password" class="form-control" placeholder="••••••••••"
    value="<%= typeof password != 'undefined' ? password : '' %>"
    >
</div>
<br>
<div class="form-group">
    <label for="password2"><%= translations.confirmPwd %></label>
    <input type="password" name="password2" id="password2" class="form-control" placeholder="••••••••••"
    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    >
</div>