<div class="form-group">
    <%= translations.roles %>
    Normal <input type="checkbox" name="normal" id="normal" checked disabled>
    <label for="admin">Admin </label> 
    <input type="checkbox" name="admin" id="admin" value="admin"
        <%= typeof admin != 'undefined' ? 'checked' : '' %>
    >
    <label for="moderateur"><%= translations.moderator %> </label> 
    <input type="checkbox" name="moderateur" id="moderateur" value="moderateur"
        <%= typeof moderateur != 'undefined' ? 'checked' : '' %>
    >
</div>