<nav class="navbar">
    <div class="navContainer">
        <div class="list1">
            <ul>
                <li style="margin-top: 5px;"><a href="/village">Village (Accueil)</a></li>
                <li style="margin-top: 5px;"><a href="/modifUsager">Profil</a></li>
                <li style="margin-top: 5px;"><a href="/discussions">Forum</a></li>
            </ul>
        </div>
        <form action="https://www.google.com/search" method="GET" target="_blank" id="searchForm" >
            <div class="searchContainer">
                <i id="searchButton" class="fas fa-search searchButton"></i>
                <input type="text" class="searchInput" name="q" placeholder="Rechercher">
            </div>
        </form>
        <div>
        </div>
        <div class="rightButtons">
            <ul>
                <li><a class="buttonNav" href="/guide">Guide</a></li>
                <li><a class="buttonNav" href="/apropos">Nous Joindre</a></li>
        </ul>
    </div>
    <div class="br"></div>
    <div class="loginContainer">
        <ul>
            <li class="login">
                <% if (typeof(user) !="undefined"){ %>
                    <img src="/images/<%= user.nomImage %>" alt="User Image" width="40" height="40" style="margin-right: 7px; margin-top: -3px; margin-left: -20px;" class="rounded-circle mr-2 profile-img ">
                    Bienvenue, <%= user.nom %> (<%= user.email %>)! -
                    <a href="/quitter">Se déconnecter</a>
                <% } %>
            </li>
        </ul>
    </div>
</div>
  </nav>  
  

<script>

//Fonction pour envoyer la recherche au click de la loupe
  const searchForm = document.getElementById('searchForm');
  const searchIcon = document.getElementById('searchIcon');
  searchIcon.addEventListener('click', () => {
    searchForm.submit();
  });

</script>