
<div class="container mt-3">
    <h2>Liste des livres :</h2>
    <a href="/menu" class="btn btn-secondary btn-block mb-2">Retour au menu principal</a>
    <% if (typeof(liste)!=="undefined") { %>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom de variable</th>
            <th>Version francaise</th>
            <th>Version anglaise</th>
          </tr>
        </thead>
        <tbody>
       <% for (let traduction of liste){ %>
          <tr>
            <td><%= traduction.nomVariable %></td>
            <td><%= traduction.francais %></td>
            <td><%= traduction.anglais %></td>
            <td><a href="/editerMot/<%=traduction._id%>" class="btn btn-primary btn-block mb-2">Modifier</a></td>
          </tr>
        <% }%>  
        </tbody>
      </table>
  <% } else 
  { %>
     <h2>Aucune liste d'usager disponible</h2>
  <% } %>
  <a href="/menu" class="btn btn-secondary btn-block mb-2">Retour au menu principal</a>
  </div>