
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <%- include ('./partials/messages') %>
            <h1><i class="fas fa-sign-in-alt"></i> Login</h1>
            <form action="/userLogin" method="post">
                <br>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="abc@yandex.com">
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="••••••••••">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <a href="./ajoutUsagerClient" class="btn btn-primary btn-block">Créer un compte</a>
            </form>
        </div>
    </div>
</div>