/*Css listes/login*/

body {
    background-color: blanchedalmond;
    color:  blue;
}
.login {
    text-align: right;
    color: #ffe5d1;
    margin-top: 10px;
}
.imgProfil {
    width: 100px;
}

/* listeUsagers styles */
.listeUsagers-ul {
    padding: 0;
}

.listeUsagers-li {
    list-style-type: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.listeUsagers-imgProfil {
    width: 100px;
    margin-right: 20px;
    max-height: 100px;
}

.listeUsagers-info {
    display: inline-block;
    vertical-align: top;
}

.listeUsagers-info > span {
    font-weight: bold;
}

.listeUsagers-actions {
    float: right;
    margin-top: -30px;
}

.listeUsagers-actionIcon {
    margin-right: 10px;
}
.class-button:hover {
    background-color: #ddd;
    cursor: pointer;
}
.class-button-selected {
    background-color: #aaa;
}

/* Fin du css listes/login*/


/* Css header/navigation */
.navbar {
    background-color: #8b572a;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 30px;
    height: 100px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    margin-left:120px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffe5d1; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s ease;
}

.navbar ul li a:hover {
    color: #d7a66b; 
}

.iconBox {
    align-items: center;
    justify-content: center;
    float: right;
}
.icon {
    width: 32px;
    height: auto;
    margin-right: 5px;
}
.br {
    width: 2px;
    height: 80%; 
    background-color: #ffe5d1; 
    margin-left: -120px;
}
.buttonNav {
    text-decoration: none;
    color: #ffe5d1; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.buttonNav:hover {
    color: #d7a66b;
}
/*Fin du css header/nav */

/*Début du css pour accueil et taverne */
#accueil {
    border-width: 16px;
    border-color: rgb(77, 77, 77);
    border-style: solid;
    width: 80vw;
    height: 82vh;
    margin-left: 10px;
    border-style: ridge;
    margin-top: -10px;
}

#villagePic {
    background-image: url('../images/villageBackgroundPlaceholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(200%);
    box-shadow: 10px;
    flex: 1;
    position:relative;
}

#tavernePic {
    background-image: url('../images/taverneBackgroundPlaceholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 10px;
    flex: 1;
    position:relative;
}

#boutonTaverne {
    position: absolute;
    top: 10%;
    left: 35%;
    font-weight: bold;
}


#boutonTaverne:hover {
    background-color: #e76819;
    cursor: pointer; 
}


#boutonShop:hover {
    background-color: #e76819;
    cursor: pointer; 
}


#boutonJouer:hover {
    background-color: #e76819;
    cursor: pointer; 
}


#boutonShop {
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: bold;
}

#boutonJouer {
    position: absolute;
    bottom: 40%;
    left: 10%;
    font-weight: bold;
}

#gameInfo {
    margin-left: 10px;
    max-width: 340px;
    margin-right: 5px;
}

#accueilBox {
    display: flex;
    flex-direction: row;
}

#boutonBartender:hover{
    background-color: #f2ceb7;
    cursor: pointer; 
}

#boutonMysteryMan:hover{
    background-color: #f2ceb7;
    cursor: pointer; 
}

#boutonSortirTaverne:hover{
    background-color: #f2ceb7;
    cursor: pointer; 
}

#boutonBartender {
    position: absolute;
    left: 35%;
    top: 35%;
}

#boutonMysteryMan {
    position: absolute;
    right: 35%;
    top: 35%;
}

#boutonSortirTaverne {
    position: absolute;
    bottom:1%;
    left:40%;
}

.hiddenBartender {
    opacity: 0;
}

.hiddenMysteryMan {
    opacity: 0;
}

#bartenderDialogue {
    position: absolute;
    left: 18%;
    top: 9%;
    max-width: 200px;
    word-wrap: break-word;
    border: 2px solid #000;
    background-color: #502308;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.75;
}

#mysteryManDialogue {
    position: absolute;
    right: 16%;
    top: 18%;
    max-width: 200px;
    word-wrap: break-word;
    border: 2px solid #000;
    background-color: #502308;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.75;
}

.characterKeywords {
    font-weight: bolder;
    color: #814f38;
}
/*Fin du css pour accueil et taverne */

