body {
    background-color: blanchedalmond;
    color:  blue;
}
.login {
    text-align: right;
}
.imgProfil {
    width: 100px;
}

/* listeUsagers styles */
.listeUsagers-ul {
    padding: 0;
}

.listeUsagers-li {
    list-style-type: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.listeUsagers-imgProfil {
    width: 100px;
    margin-right: 20px;
    max-height: 100px;
}

.listeUsagers-info {
    display: inline-block;
    vertical-align: top;
}

.listeUsagers-info > span {
    font-weight: bold;
}

.listeUsagers-actions {
    float: right;
    margin-top: -30px;
}

.listeUsagers-actionIcon {
    margin-right: 10px;
}
.class-button:hover {
    background-color: #ddd;
    cursor: pointer;
}
.class-button-selected {
    background-color: #aaa;
}
.buttonsHeader {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#headerPotions {
    flex: 1;
    width: 19.2%;
    height: 20%;
    margin:-5px
}

#headerBar {
    border-color: forestgreen;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(29, 147, 216);
    
}

.buttonsHeader button {
    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 10px;
    border-style: none;

}

#accueil {
    border-width: 16px;
    border-color: rgb(77, 77, 77);
    border-style: solid;
    width: 80vw;
    height: 82vh;
    margin-left: 10px;
    border-style: ridge;
    margin-top: -10px;
}

#villagePic {
    background-image: url('../images/villageBackgroundPlaceholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(200%);
    box-shadow: 10px;
    flex: 1;
}

#tavernePic {
    background-image: url('../images/taverneBackgroundPlaceholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    box-shadow: 10px;
    flex: 1;
}

#boutonTaverne {
    position: absolute;
    top: 105px;
    left: 500px;
    font-weight: bold;
}

#boutonShop {
    position: absolute;
    top: 180px;
    left: 200px;
    font-weight: bold;
}

#boutonJouer {
    position: absolute;
    bottom: 350px;
    left: 150px;
    font-weight: bold;
}

#gameInfo {
    margin-left: 10px;
    max-width: 340px;
    margin-right: 5px;
}

#accueilBox {
    display: flex;
    flex-direction: row;
}

#boutonBartender {
    position: absolute;
    left: 25%;
    top: 310px;
}

#boutonMysteriousMan {
    position: absolute;
    right: 800px;
    top: 350px;
}

#boutonSortirTaverne {
    position: absolute;
    bottom:100px;
    left:35%;
}