<label for="commentaire"><%= translations.commentaire %></label>
<textarea class="form-control" rows="5" id="commentaire" name="commentaire"
><%= typeof resume != 'undefined' ? resume : '' %></textarea>